body,
html {
  margin: 0;
  padding: 0;
  overflow: auto;
}
body {
  min-width: fit-content;
  height: 100vh;
}
label {
  font-size: 19px;
  color: black;
  background-color: white;
  padding: 2px 2px 5px;
  border: 1px;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

#background {
  height: 100%;
  width: 100%;
  z-index: 0;
}

#submitBtn {
  padding: 5px 5px;
  font-size: 15px;
  text-align: center;
  outline: none;
}

#submitBtn:hover {
  cursor: pointer;
}

#randomBtn {
  padding: 5px 5px;
  font-size: 15px;
  text-align: center;
  outline: none;
}
#randomBtn:hover {
  cursor: pointer;
}

#countries {
  height: 31px;
}

#weatherGif {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: absolute;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-image: url("giphy.gif");
}

.weatherBox {
  width: 400px;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  z-index: 1;
}

.weatherStats {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 1px;
  width: 400px;
  position: fixed;
  left: 49%;
  top: 34.5%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: rgb(255, 255, 255);
  height: 15%;
}

.currentWeather {
  margin-left: 10%;
}

h1 {
  font-size: 18px;
}
